#content {
	padding-right: 75px;
	padding-left: 75px;
	padding-top: 10px;
	background: black;
}



.product {
	padding-bottom: 100px;
	background-color: rgb(173, 255, 47);
	background-color: white;
	box-shadow: 0px 0px 10px 2px;
	-moz-box-shadow: 0px 0px 5px 2px rgba(224, 132, 7, 0.75);
	-webkit-box-shadow: 0px 0px 5px 2px rgba(224, 132, 7, 0.75);
	margin-bottom: 30px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

p {
	font-size: 16px;
	display: block;
	position: absolute;
	top: 160px;
	left: 90px;
	font-family: 'Playfair Display SC', serif;
}

.amount {
	width: 36px;
	background: transparent;
	border: none;
	padding-right: 0px;
	padding-left: 13px;
}

.amount:focus {
	outline: none;
}


.price {
	position: absolute;
	display: inline-block;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	padding-top: 28px;
	padding-left: 35px;
	font-weight: bolder;
	color: #583100;
	color: black;
}

.qty {
	background: transparent;
	border: none;
	font-weight: bolder;
}


.wrapper {
	width: 122px;
	height: 97px;
	position: relative;
}

#shop {
	width: 120px;
	height: 95px;
	float: right;
	position: relative;
}

#sum {
	position: absolute;
	display: inline;
	color: #7fc318;
	top: 45px;
	left: 45px;
}

h6 {
	font-family: 'Playfair Display SC', serif;
}

.row:first-child {
	margin-right: 0px;
	margin-left: 0px;
	padding-bottom: 45px;
}

p {
	font-size: 16px;
	display: block;
	position: absolute;
	top: -115px;
	left: 65px;
	font-family: 'Playfair Display SC', serif;
}

.amount_box {
	position: absolute;
	top: -68px;
	left: 57px;
}

img.price_t {
	
	height: 90px;

	position: absolute;
	left: 186px;
	top: -278px;
}

.price_visual {
	position: absolute;
	display: inline-block;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	/* padding-top: 22px; */
	font-weight: bolder;
	color: black;
	z-index: 5;
	top: -228px;
	right: 6px;
	padding-right: 36px;
}

.price{
	display:none;
	
}




.special_container{
	width:291px;
	
	position:relative;
}




footer {
	color: gray;
	font-weight: 100;
	font-size: 12px;
	top: 653px;
	left: 451px;
	font-style: italic;
	position: fixed;
	display: inline;
}